//- banner.jade
.jumbotron
  .container
    .row
      div(class='col-xs-4 visible-xs')
        img(src='images/doug-small.png' class='img-responsive' alt='Doug Tidwell')
      header(class='col-xs-8 visible-xs')
        h1 Doug Tidwell
        h3 Technology Evangelist, #[br] Writer, and Developer
      div(class='col-sm-3 visible-sm')
        img(src='images/doug-small.png' class='img-responsive' alt='Doug Tidwell')
      header(class='col-sm-9 visible-sm')
        h1 Doug Tidwell
        h2 Technology Evangelist, #[br] Writer, and Developer
      div(class='col-md-2 hidden-xs hidden-sm')
        img(src='images/doug.png' class='img-responsive' alt='Doug Tidwell')
      header(class='col-md-10 hidden-sm hidden-xs')
        h1 Doug Tidwell
        h2 Technology Evangelist, Writer, and Developer
