//- development_details_1.pug
| #[br] My recent development projects have used Knative, Quarkus, SpringBoot, node.js, Docker, Kubernetes, Istio, various Watson technologies, 
| the Bluemix CI/CD process, NoSQL databases (primarily
| Cloudant and Mongo), Angular, and Bootstrap. My 
| work currently focuses on sample applications that illustrate the power of various
| products in the videos and articles I create. That
| typically means containers, clusters, and microservices, 
| although anything trending in the development community is fair game. 
