//- development_details_1.pug
| #[br] My recent development projects have used node.js, Docker, Kubernetes, Istio, various Watson technologies, 
| the Bluemix CI/CD process, NoSQL databases (primarily
| Cloudant and Mongo), Angular 5, and Bootstrap. My 
| work currently focuses on sample applications for my videos. That
| typically means chatbots, containers and clusters, microservices, and PaaS-based
| applications, although anything trending in the development community is fair game. 
