//- development_details_2.jade
| #[br] My recent development projects have used node.js, AngularJS, NoSQL databases (primarily
| Couch and Mongo), Jade, Bootstrap, TypeScript, and IBM's Bluemix Garage Method (for CI and DevOps). I 
| am currently focused on writing single-page applications, business rules, and user interfaces for 
| IBM products. 
