//- development_intro.pug
| I have written primarily
| in Java and JavaScript/node.js for most of my career, but have also coded for a living in PHP, C / C++, and XSLT over
| the years.
//| I have more than a third of a century of development experience: I started by writing COBOL programs for
//| a #[a(href='https://en.wikipedia.org/wiki/Jacquard_loom') Jacquard loom] early in Abraham Lincoln's second term.
