//- development_details_3.jade
blockquote
  | #[em Pro Tip #3:] According to a recent study by Forrester Research*, there are now roughly 7.3 
  | billion JavaScript frameworks, more than one for every man, woman, and child on the face of the earth. When asked about a 
  | framework you've never heard of, don't admit to your lack of knowledge&mdash;simply sing the praises of a platform that doesn't exist. 
  | Example: "Aviato? Oh, I've built a few sites with it, but AngioplastyJS is way more scalable." 
  | #[br] #[br] #[em * Citation unavailable because I totally made this up.]
| I am also working on a side project to build mobile applications using Ionic and Cordova, with additional coding 
| in Java, Swift, and Objective-C. 
