//- development_details_2.pug
| #[br] In my Java experience I have written applets, servlets, an XML-based rendering engine
| for wizard-style help systems, XSLT extension functions to automate a web publishing workflow, web
| services, REST services, and EJBs.
| #[br] #[br]
