//- development_details_2.pug
| #[br] My recent development projects have used node.js, various Watson technologies, 
| the Bluemix CI/CD process, Docker and Kubernetes, NoSQL databases (primarily
| Cloudant and Mongo), pug (which I still call Jade), and Bootstrap. I
| am currently focused on writing samples for the Watson and Bluemix platforms. 
| #[br] #[br]
