//- development_details_1.pug
| #[br] My recent development projects have used node.js, various Watson technologies, 
| the Bluemix CI/CD process, Docker and Kubernetes, NoSQL databases (primarily
| Cloudant and Mongo), pug (which I still call Jade), and Bootstrap. My 
| work currently focuses on sample applications for my videos. That
| typically means chatbots, containers and clusters, microservices, and PaaS-based
| applications, although anything trending in the development community is fair game. 
