//- development_details_2.pug
| #[br] My recent development projects have used node.js, AngularJS, NoSQL databases (primarily
| Couch and Mongo), pug, Bootstrap, and IBM's Bluemix Garage Method. I
| am currently focused on writing business rules and user interfaces for
| IBM products as well as single-page applications that showcase the Bluemix PaaS and the services it provides. #[br] #[br]
