//- development_intro.pug
| I have written primarily
| in Java and JavaScript/node.js for most of my career, but have also coded for a living in PHP, C / C++, and XSLT over
| the years.
| #[br] #[br] My development projects have used Jenkins, Knative, Quarkus, SpringBoot, node.js, Docker, Kubernetes, Istio, various Watson technologies, 
| the Bluemix CI/CD process, Angular (seemed like a good idea at the time), and Bootstrap. My 
| work currently focuses on sample applications that illustrate the power of various
| products in the videos and articles I create.  

