//- development_intro.jade
| I have more than a third of a century of development experience, writing code for everything
| from tablets to mobile phones to PDAs to desktops to VAXen to mainframes. I have written primarily
| in Java since 1996, but have also coded for a living in JavaScript, PHP, C / C++, BASIC, and XSLT over
| the years. 
