//- evangelism_details_1.pug
| My videos, technical presentations, hands-on workshops, keynote addresses, and executive
| briefings are done with the goal of convincing the audience of three things: #[br] #[br]
