//- evangelism.pug
a(name='evangelism')
.row
  div(class='col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 visible-sm visible-xs')
    img(src='images/wl2.png' class='img-responsive' alt="Countries where I've presented")
div(class='row padded-row')
  .col-md-12
    h2 Technology Evangelism and Marketing
  div(class='hidden-md hidden-lg col-sm-12 col-xs-12')
    div
      include evangelism_intro.pug
    div(style='display: none;')
      include evangelism_details_1.pug
      include evangelism_details_2.pug
      include evangelism_details_3.pug
    a(href='#evangelism' class='more') Read more
  div(class='col-md-6 hidden-lg hidden-sm hidden-xs')
    div
      include evangelism_intro.pug
      include evangelism_details_1.pug
  div(class='col-md-6 hidden-lg hidden-sm hidden-xs')
    img(src='images/wl2.png' class='img-responsive' alt="Countries where I've presented")
  div(class='col-md-12 hidden-lg hidden-sm hidden-xs')
    include evangelism_details_2.pug
    include evangelism_details_3.pug
  div(class='col-lg-6 hidden-md hidden-sm hidden-xs')
    div
      include evangelism_intro.pug
      include evangelism_details_1.pug
      include evangelism_details_2.pug
  div(class='col-lg-6 hidden-md hidden-sm hidden-xs')
    img(src='images/wl2.png' class='img-responsive' alt="Countries where I've presented")
  div(class='col-lg-12 hidden-md hidden-sm hidden-xs')
    include evangelism_details_3.pug
