//- evangelism_details_1.jade
| I've given technical presentations, hands-on workshops, keynote addresses, and executive 
| briefings on many different topics, always with the goal of convincing the audience of three things: #[br] #[br]
