//- evangelism_details_1.pug
| My videos, technical presentations, blog entries, hands-on workshops, and 
| other marketing motions are done with the goal of convincing the audience of three things: #[br] #[br]
