//- evangelism_details_3.pug
| #[br] Over the years the target audiences for my work have been everything from developers and 
| students to executives and analysts. I have worked with audiences in 
| person at conferences and customer sites as well as remotely via webinars and podcasts. My presentations have won several awards, 
| including a 2009 JavaOne Rock Star award for "Using SOAP and #[span(class='nowrap') WS-*] in the Cloud."
| #[br] #[br] The technologies I 
| have evangelized include cloud computing, REST, SOAP and the #[span(class='nowrap') WS-*] stack, 
| XSLT, XML, Java, Eclipse, Service Component Architecture, and XForms. In all cases, I created the 
| presentations or student handbooks that explained the technology and built the sample code or exercises 
| that showed it in action. (As an example, you can take a look at #[a(href='examples/Hands-on_workshop_slides-letter.pdf') the slides], 
| #[a(href='examples/Hands-on_workshop_handouts-letter.pdf') the lab manual,] and 
| #[a(href='examples/workshop.zip') the sample code] for the Service Component Architecture workshop I created.) #[br] #[br]
blockquote
  | #[em Pro Tip #2:] When stuck on the streets of Mumbai at rush hour, your taxi driver may decide to cross the median of a 12-lane highway, 
  | drive at a high rate of speed into oncoming traffic, and then dodge back onto the correct side of the road at the last 
  | possible second. This is perfectly normal, legal, and unremarkable. 
| Since 2011 my evangelism efforts have been internally focused, 
| with presentations, sample code, and research papers developed for IBM's sales staff, business 
| partners, and select customers. My current assignment focuses on IBM's cloud portfolio, including the Bluemix PaaS and OpenStack-based products such as 
| IBM Cloud Orchestrator. Driving revenue is my primary goal these days. In 2015 I helped close more than $31M in business. 
