//- evangelism_intro.pug 
| I pay the rent doing technology evangelism. Most of my work these days is on video, but in my career I've given more than 500 
| presentations in more than 150 cities in 46 countries. 
| There's nothing I enjoy more than being on stage in front of an audience of developers somewhere in the world, sharing knowledge about 
| some new technology or product.  #[br] #[br] 
blockquote
  | #[em Pro Tip #1:] Do currency conversions before tipping, not after. I'm pretty sure that once I bought a waitress in Prague a new car.
