//- evangelism_details_3.pug
| #[br] I have a weekly video show called #[a(href="http://developer.ibm.com/tv/dwmailbag") the developerWorks Mailbag] that covers 
| hardcore technical topics with humor and style, centered around a demo of working code. That code is typically in a github repo 
| that developers can fork and use. #[em Everything I do starts and ends with code. ]
| #[br] #[br]
blockquote
  | #[em Pro Tip #2:] When stuck on the streets of Mumbai at rush hour, your taxi driver may decide to cross the median of a 12-lane highway, 
  | drive at a high rate of speed into oncoming traffic, and then dodge back onto the correct side of the road at the last 
  | possible second. This is perfectly normal, legal, and unremarkable. 
| The technologies I 
| have evangelized over the years include cloud computing (especially the Cloud Foundry-based Bluemix PaaS), 
| cognitive computing with Watson, REST, SOAP and the #[span(class='nowrap') WS-*] stack, 
| XSLT, XML, Java, Eclipse, Service Component Architecture, and XForms. In all cases, I created the 
| presentations or student handbooks that explained the technology and built the sample code or exercises 
| that showed it in action. (As an example, you can take a look at #[a(href='examples/Hands-on_workshop_slides-letter.pdf') the slides], 
| #[a(href='examples/Hands-on_workshop_handouts-letter.pdf') the lab manual,] and 
| #[a(href='examples/workshop.zip') the sample code] for the Service Component Architecture workshop I created.) #[br] #[br]
