//- evangelism_details_2.jade
ul
  li Technology or product #[em x] is real, cutting-edge technology that is relevant right now
  li You can be productive with it today
  li If you&apos;re not using it, your competition probably is.
