//- evangelism_intro.pug 
| I pay the rent doing technology evangelism and marketing. Much of my work these days is on video, but in my career I've given more than 500 
| presentations in more than 150 cities in 46 countries. 
| There's nothing I enjoy more than sharing knowledge about 
| some new technology or product. My goal is to tell the audience what I wish #[em I'd] known when 
| I started. #[br] #[br] 
blockquote
  | #[em Pro Tip #1:] Do currency conversions before tipping, not after. I'm pretty sure that once I bought a waitress in Prague a new car.
