//- evangelism_intro.jade 
| In my career as a technology evangelist I've given more than 500 presentations in more than 150 cities in 46 countries. 
| Along the way I've learned many of the world's dining, taxi-hailing, and drink-ordering customs. #[br] #[br] 
blockquote
  | #[em Pro Tip:] Do currency conversions before tipping, not after. I&apos;m pretty sure that once I bought a waitress in Prague a new car.
