//- evangelism_details_3.jade
| #[br] Over the years the target audience for my work has typically been developers and 
| students, although I have presented to executives and analysts as well. I have worked with audiences in 
| person at conferences and customer sites as well as remotely via webinars and podcasts. My presentations have won several awards, 
| including a JavaOne Rock Star award in 2009. Some of those presentations have been 
| in front of live audiences, others have been webinars and podcasts.
| #[br] #[br] The technologies I 
| have evangelized include cloud computing, REST, SOAP and the #[span(class='nowrap') WS-*] stack, 
| XSLT, XML, Java, Eclipse, Service Component Architecture, and XForms. In all cases, I created the 
| presentations or student handbooks that explained the technology and built the sample code or exercises 
| that showed it in action. (As an example, you can take a look at #[a(href='examples/Hands-on_workshop_slides-letter.pdf') the slides], 
| #[a(href='examples/Hands-on_workshop_handouts-letter.pdf') the lab manual,] and 
| #[a(href='examples/workshop.zip') the sample code] for the Service Component Architecture workshop I created 
| several years ago.)
| #[br] #[br] Since 2011 my evangelism efforts have been focused internally, 
| with presentations, sample code, and research papers developed for IBM's sales staff, business 
| partners, and select customers. 
| #[br] #[br] My current assignment focuses on IBM's cloud portfolio, including the Bluemix PaaS and OpenStack-based products such as 
| IBM Cloud Orchestrator. My primary goal is to drive revenue, closing more than $31M in business in 2015. Some of my previous 
| assignments have been focused on technologies, building communities and raising awareness as opposed to driving immediate revenue. 
