//- evangelism_details_3.pug
| #[br] At Redis my responsibility is to create content that reaches out to IT Decision Makers to show them the value of Redis Enterprise. 
| #[a(href="https://youtu.be/BLnBD8daxVY") Creating Highly Available Systems with Redis Enterprise] is a long-form video 
| that covers High Availability in depth. I also created videos where I 
| #[a(href="https://youtu.be/kD3vv0kQ_SM") use Grafana to monitor Redis servers and applications] and 
| #[a(href="https://youtu.be/1r8-lcYr-cg") conduct a scientific experiment that shows the superiority of Redis]. I also wrote 
| #[a(href="https://youtu.be/PGjri0KgPqY") a soap opera that dramatizes the dangers of not using Redis Enterprise]. 
| #[br] #[br] In my previous job I led the team that created the Thunder Demo project, an overarching demo that made three
| products created from three code bases written by three companies look like a single, seamless product. The video
| #[a(href="https://youtu.be/zhyRteqYiqg") Going from Concept to Customer] shows how those products make it possible to move 
| as quickly as possible from a good idea 
| to new features in the hands of your customers. 
| #[br] #[br] Other videos I created demonstrated 
| #[a(href="https://youtu.be/XjZLKdMKlhc") how to use Windows nodes in the Google Kubernetes Engine,]
| #[a(href="https://youtu.be/_uXvI7Sq8wY") how to scale Jenkins across the enterprise,] and 
| #[a(href="https://youtu.be/C0eh4KKooNI") how CloudBees plugins let developers stay on-task during automated builds.] 
| I did similar work in my previous jobs at Red Hat and IBM. 
| #[br] #[br]
| #[em No matter what kind of content I'm creating, everything I do starts and ends with code. ]
| #[br] #[br]
blockquote
  | #[em Pro Tip #2:] When stuck on the streets of Mumbai at rush hour, your taxi driver may decide to cross the median of a 12-lane highway, 
  | drive at a high rate of speed into oncoming traffic, and then dodge back onto the correct side of the road at the last 
  | possible second. This is perfectly normal, legal, and unremarkable. 
| The technologies I 
| have evangelized over the years include Jenkins in particular and DevOps in general; feature flags; 
| Knative; OpenShift; Quarkus; Docker, Podman, and Kubernetes; chatbots; 
| cognitive computing with Watson; REST, SOAP and the #[span(class='nowrap') WS-*] stack; 
| XSLT and XML; the Eclipse platform; Service Component Architecture; and XForms. In all cases, I created the 
| materials that explained the technology and built the sample code  
| that showed it in action. 