//- footer.pug
.jumbotron
  .container
    .row
      .col-md-12
        p.text-center
          strong #[span(class='nowrap') Doug Tidwell] #[br] #[span(class='nowrap') Raleigh, North Carolina] #[br] #[span(class='nowrap') +1-919-427-8896] #[br] doug#[em [dot]]tidwell42#[em [at]]gmail#[em [dot]]com
        p.text-center &copy; Copyright 2016 Doug Tidwell. 

script(src='js/jquery-1.11.3.js')
include js/more.js
script(src='js/bootstrap.js')
