//- Main page
doctype html
//- This page generated with pug: http://pugjs.org
html
  include head.pug
  body
    include banner.pug
    .container
      include evangelism.pug
      include writing.pug
      include development.pug
      include misc.pug
    include footer.pug
