//- Main page
doctype html
// This page generated with Jade: http://jade-lang.com
html
  include head.jade
  body
    include banner.jade
    .container
      include evangelism.jade
      include writing.jade
      include development.jade
      include misc.jade
    include footer.jade
