//- misc.pug
div(class='row padded-row')
  .col-md-12
    hr
  .col-md-4
    h3 Education
    p.
      #[strong M.S. in Computer Science], Vanderbilt University. Focused on Software Engineering. For my
      Masters thesis I wrote a modeling program that simulated the effect of marriage patterns on the spread
      of lethal genetic diseases.
    p.
      #[strong B.A. in English], The University of Georgia.
  .col-md-4
    h3 Bio
    p.
      I live in Raleigh, North Carolina (the greater Research Triangle Park area), where I work for IBM.
      My current team does competitive research for our company's products and travels around the
      world to talk about our findings. We also help our sales team and business partners close deals.
    p.
      #[a(href='examples/resume.pdf') My resume] has more information about me.
  .col-md-4
    h3 Colophon
    p.
      This site is written in HTML5 and CSS3. The responsive features of the site come from
      #[a(href='http://getbootstrap.com') Bootstrap], and the pages themselves are generated with
      #[a(href='http://pugjs.org') pug].
    p.
      The map is a stylized version of one of the
      #[a(href='https://www.amcharts.com/svg-maps/') free SVG maps provided by amcharts]
      and the XSLT book cover and Jabiru logo are trademarks of O'Reilly and Associates.
