//- writing_intro.jade
| I wrote #[a(href='http://shop.oreilly.com/product/9780596527211.do') O'Reilly's #[cite XSLT]], including 
| hundreds of sample stylesheets. Beyond XSLT, the book also includes extension functions written in Java, 
| Perl, Python, Ruby and C#. The book has sold more than 50,000 copies and is also available in German and 
| Russian translations.