//- writing_details_2.jade
| I am a co-author of 
| #[a(href='http://shop.oreilly.com/product/9780596000950.do') #[cite Programming Web Services with SOAP]], 
| also published by O'Reilly. That book has been translated into German and Italian. 
