//- writing_details_3.pug
| #[br] #[br] In my previous job I produced videos, articles, tutorials, product marketing
| materials, blog posts, and sample code 
| for the #[a(href="https://developers.redhat.com/") Red Hat Developer Program] website. 
| Before that I produced similar materials for   
| #[a(href='https://developer.ibm.com') IBM developerWorks]. My articles have 
| generated millions of page views over the years and have been translated into Chinese, Japanese, 
| Korean, 
| Portuguese, Russian, and Vietnamese. 
| #[br] #[br] Here are a few of the videos and articles I've done: #[br] #[br] 
ul
  li
    a(href='https://developers.redhat.com/coderland/serverless/') The Compile Driver,
    |    a horrifying amusement park attraction that demonstrates the power of serverless 
    |    computing to thrillseekers and bystanders alike
  li 
    a(href='https://developers.redhat.com/coderland/reactive/') The Reactica Roller Coaster,
    |    another dramatically unsafe ride that illustrates reactive programming and microservices
  li
    a(href='https://developers.redhat.com/che-custom-stacks/') Creating custom stacks for Eclipse Che,
    |    a unique guide to building custom, shareable environments for Che
  li 
    a(href='https://developers.redhat.com/articles/podman-next-generation-linux-container-tools/') Podman - The next generation of Linux container tools,
    |    a video and article that shows how to move beyond Docker to work with containers
  li
    a(href='https://developer.ibm.com/tv/dwmailbag/') The developerWorks Mailbag,
    |    a series of weekly videos that address topics on the minds of today's developers. 
    ul
      li
        | A couple of examples: 
        a(href='https://developer.ibm.com/tv/dw-mailbag-tabs-versus-spaces/') One episode
        |    answered the 'tabs vs. spaces' question once and for all, while 
        a(href='https://www.youtube.com/watch?v=W3cwnQfkJEo') the final episode
        |     provided an introduction to the Istio service mesh...while I got a much-needed haircut.  
  li 
    a(href='https://www.ibm.com/developerworks/xml/tutorials/xmlintro/xmlintro.html') Introduction to XML
    |   (the most popular article for developerWorks' first 10 years)
  li
    a(href='https://www.ibm.com/developerworks/library/cc-sample-code-facial-recognition-watson-node/index.html') Recognize and identify faces in an image with the Watson Visual Recognition service

