//- writing_details_3.pug
| #[br] #[br] During my time as the technical evangelist 
| for #[a(href='http://ibm.com/developerworks') IBM&apos;s developerWorks website], I wrote articles that have 
| generated more than 4,000,000 page views over the years and were translated into Chinese, Japanese, Korean, 
| Portuguese, Russian, and Vietnamese. My articles include: #[br] #[br] 
ul
  li 
    a(href='http://www.ibm.com/developerworks/xml/tutorials/xmlintro/xmlintro.html') An Introduction to XML
    |  (the most popular article for developerWorks' first 10 years)
  li 
    a(href='http://www.ibm.com/developerworks/library/os-simplecloud/') The Simple Cloud API
    |  (a collaborative standards effort by Zend, IBM, Microsoft, Rackspace, and others)
  li Cloud Computing with PHP: Amazon S3, EC2, and SQS (no longer online)
  li 
    a(href='http://www.ibm.com/developerworks/library/x-xslt20xpath20/') Save Time and Code with XPath 2.0 and XSLT 2.0
  li 
    a(href='http://www.ibm.com/developerworks/library/x-xslfo2app/') HTML to Formatting Objects Conversion Guide