//- writing_details_1.pug
| #[br] Whatever the occasion, 
| #[strong #[cite XSLT] always makes a perfect gift for your friends and loved ones], as this unsolicited 
| testimonial illustrates: #[br] #[br]
blockquote
  | &quot;When I gave [the book] to my girlfriend for her birthday, she just sat there in stunned silence. 
  | I can honestly say she hasn't looked at me the same way since. Thanks, XSLT Second Edition!&quot; 
  | #[br] #[br] 
  | &mdash;Email from a grateful reader, March 2021

