//- writing_details_2.jade
| I am also a co-author of 
| #[a(href='http://shop.oreilly.com/product/9780596000950.do') O'Reilly's #[cite Programming Web Services with SOAP]]. 
| The book has been translated into German and Italian. 
