//- writing_intro.jade
| I wrote #[a(href='http://shop.oreilly.com/product/9780596527211.do') #[cite XSLT]], published by 
| O'Reilly and Associates. Along with the text of the book, I created hundreds of sample stylesheets plus 
| XSLT extension functions in Java, 
| Perl, Python, Ruby, and C#. The book has sold 50,000 copies and counting and is also available in German and 
| Russian translations.