//- writing_details_3.pug
| #[br] #[br] In my previous jobs I've done videos, webinars, demos, articles, tutorials, product marketing
| materials, blog posts, release notes, and sample code 
| for #[a(href="https://www.cloudbees.com/") CloudBees], 
| the #[a(href="https://developers.redhat.com/") Red Hat Developer Program] website, and 
| #[a(href='https://developer.ibm.com') IBM developerWorks]. My articles have 
| generated millions of page views over the years and have been translated into Chinese, Japanese, 
| Korean, Portuguese, Russian, and Vietnamese. 
| #[br] #[br] 
| While at Red Hat I created 
| #[a(href="https://developers.redhat.com/coderland/") Coderland,] a fictional amusement park that showcased key technologies, products, and 
| techniques in the context of a frame story that tied everything together. Its rides included 
| #[a(href="https://developers.redhat.com/coderland/serverless/") the Compile Driver,] a ride 
| that illustrated how to use serverless computing. The tutorial included 
| #[a(href="https://youtu.be/V29KxVTt56Q") an intro,] 
| #[a(href="https://youtu.be/ZV5ch_BybOA") a discussion of the code,] and 
| #[a(href="https://youtu.be/DnC-HpR2DWg") how to deploy it with Knative.] 
| I also created content for Red Hat products and projects such as 
| #[a(href="https://youtu.be/kaI7mOVUdvs") Eclipse Che] and 
| #[a(href="https://youtu.be/pe73gQE0b0s") #[span(style='font-family: monospace;') podman]]. 
| The #[span(style='font-family: monospace;') podman] video was the #1 video on the 2021 
| list of Red Hat's Best Developer Videos. 
| #[br] #[br] 
| At IBM I created the developerWorks Mailbag, a series that covered 
| hardcore technical topics with humor and style, including a chatbot series that included
| #[a(href="https://youtu.be/szoOyIt9_XE") basic chatbottery], 
| #[a(href="https://youtu.be/fod_54Qap0o") advanced chatbot techniques], and 
| #[a(href="https://youtu.be/4UO7TVN1VCo") using Kubernetes secrets when deploying your chatbot.] 
| #[br] #[br] I also settled 
| #[a(href="https://youtu.be/DD_pHByG-FM") the question of Tabs versus Spaces] once and for all. 
