//- writing_details_3.pug
| #[br] #[br] I currently produce videos, articles, tutorials, and sample code for the  
| #[a(href='https://developer.ibm.com') developerWorks website]. My articles have 
| generated millions of page views over the years and have been translated into Chinese, Japanese, 
| Korean, 
| Portuguese, Russian, and Vietnamese. Here are a few of the videos and articles I've done: #[br] #[br] 
ul
  li
    a(href='https://developer.ibm.com/tv/dwmailbag/') The developerWorks Mailbag,
    |    a series of weekly videos that address topics on the minds of today's developers. 
    ul
      li
        | As an example, 
        a(href='https://developer.ibm.com/tv/dw-mailbag-tabs-versus-spaces/') a recent episode
        |   answered the 'tabs vs. spaces' question once and for all. 
  li 
    a(href='https://www.ibm.com/developerworks/cloud/library/cl-bluemix-getting-started-video/') Video: Getting started with Bluemix
  li 
    a(href='https://www.ibm.com/developerworks/xml/tutorials/xmlintro/xmlintro.html') Introduction to XML
    |  (the most popular article for developerWorks' first 10 years)
  li
    a(href='https://www.ibm.com/developerworks/library/cc-sample-code-facial-recognition-watson-node/index.html') Recognize and identify faces in an image with the Watson Visual Recognition service
  li 
    a(href='https://www.ibm.com/developerworks/library/wa-write-deployable-code-for-openwhisk/index.html') Write runnable and deployable code for OpenWhisk
  li
    a(href='https://www.ibm.com/developerworks/library/wa-node-single-threaded-event-loop/index.html') Use the Node.js event loop effectively 
